<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>unblock</title>
</head>
<body>
    <h1>unConfirm Block</h1>
    <p>Are you sure you want to unblock user <%= user.username %>?</p>
    <form action="/unblock/<%= user._id %>" method="post">
        <button type="submit">unBlock User</button>
    </form>
</body>
</html>