<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/main.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div id="div2" class="container mt-5 " >
        <h3 class="text-center mb-2 mt-5" id="div3">Forgot Password</h3>
        <br>
        <form method="post">
          <div class="form-group pb-5">
            <label id="div3"  for="email">email/username</label>
            <input type="email" name="email" id="email">
            <input class=" btn-primary" type="submit" value="submit" id="log">
          </div>
        </form>
      </div>
</body>
</html>