<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/main.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div id="div2" class="container mt-5 " >
        <h3 class="text-center mb-2 mt-3" id="div3">Reset Password for <%=email %></h3>
        <br>
        <form method="post">
          <div class="form-group pb-5">
            <label class="pl-2" for="password" style="color: white;">password      </label>
            <input class="ml-5" type="password" name="password" id="password">
            <br>
            <label for="password2" style="color: white;">confirm password</label>
            <input type="password" name="password2" id="password2">
            <br>
            <input class="btn-primary" type="submit" value="reset">
          </div>
        </form>
      </div>
</body>
</html>