<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
      <div class="container">
        <h1>add new prodcut</h1>
        <button style="float: right;"><a href="/">home</a></button>
        <form action="/add_product" method="post" id="add-form" enctype="multipart/form-data">
          <label for="category">Category:</label>
               <select id="category" name="category" required>
                      <option value="mobile">mobile</option>
                      <option value="gadget">gadget</option>
                      <option value="watch">watch</option>
                      <option value="earPhone">earPhone</option>
                      <option value="speaker">speaker</option>
                      <option value="charger">charger</option>
                      <option value="storagedevice">storagedevice</option>
                      <option value="powerbank">powerbank</option>
                      <option value="smartpoint">smartpoint</option>
                      <option value="SUPER VALUE MOBILES">SUPER VALUE MOBILES</option>
              </select><br>
              <label for="brand">Brand:</label>
               <select id="brand" name="brand" required>
                      <option value="Apple">Apple</option>
                      <option value="Redmi">Redmi</option>
                      <option value="Google">Google</option>
                      <option value="OnePlus">OnePlus</option>
                      <option value="Motorola">Motorola</option>
                      <option value="Nothing">Nothing</option>
                      <option value="Honor">Honor</option>
                      <option value="Realme">Realme</option>
                      <option value="Vivo">Vivo</option>
                      <option value="Sony">Sony</option>
                      <option value="Oppo">Oppo</option>
                      <option value="Play">Play</option>
                      <option value="Og">Og</option>
                      <option value="Just Coreseca">Just Coreseca</option>
                      <option value="Pebble">Pebble</option>
                      <option value="boat">boat</option>
                      <option value="boult">boult</option>
                      <option value="SUPER VALUE MOBILES">SUPER VALUE MOBILES</option>
              </select><br>
        
            <div id="div3" class="form-group">
                <label id="div3"  for="name">product:</label>
                <input  type="text"  class="form-control" id="product"  name="product" placeholder="product" required minlength="3">
              </div>
              <div id="div3" class="form-group">
               <label id="div3" for="password">model:</label>
                <input id="div3" type="text" class="form-control" id="model" name="model" placeholder="model" required minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">price:</label>
                 <input id="div3" type="text" class="form-control" id="price" name="price" placeholder="price" required minlength="1">
               </div>
               <div id="div3" class="form-group">
                <label id="div3" for="password">discountPercentage:</label>
                 <input id="div3" type="text" class="form-control" id="discountPercentage" name="discountPercentage" placeholder="%" required minlength="1">
               </div>
               <div id="div3" class="form-group">
                  <label id="div3" for="password">image:</label>
                   <input id="div3" type="file" class="form-control" id="imagePath" name="imagePath" placeholder="imagePath" required minlength="1">
                 </div>
                 <div id="div3" class="form-group">
                  <label id="div3" for="password">Color:</label>
                  <input id="div3" type="text" class="form-control" id="Color" name="Color" placeholder="Color"  minlength="1">
                </div>
               <div id="mobile-fields" style="display: none;">
                 <div id="div3" class="form-group">
                  <label id="div3" for="password">ram:</label>
                   <input id="div3" type="text" class="form-control" id="ram" name="ram" placeholder="ram"  minlength="1">
                   </div>
                   <div id="div3" class="form-group">
                   <label id="div3" for="password">rom:</label>
                   <input id="div3" type="text" class="form-control" id="rom" name="rom" placeholder="rom"  minlength="1">
                 </div>
                 <div id="div3" class="form-group">
                   <label id="div3" for="password">battery:</label>
                   <input id="div3" type="text" class="form-control" id="battery" name="battery" placeholder="battery"  minlength="1">
                 </div>
                 <div id="div3" class="form-group">
                   <label id="div3" for="password">display:</label>
                   <input id="div3" type="text" class="form-control" id="display" name="display" placeholder="display"  minlength="1">
                 </div>
                 <div id="div3" class="form-group">
                   <label id="div3" for="password">processor:</label>
                   <input id="div3" type="text" class="form-control" id="processor" name="processor" placeholder="processor"  minlength="1">
                 </div>
                <div id="div3" class="form-group">
                   <label id="div3" for="password">camera:</label>
                   <input id="div3" type="text" class="form-control" id="camera" name="camera" placeholder="camera"  minlength="1">
                 </div>
                 
                <div id="div3" class="form-group">
                  <label id="div3" for="password">BrowseType:</label>
                  <input id="div3" type="text" class="form-control" id="BrowseType" name="BrowseType" placeholder="BrowseType"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">SimType:</label>
                  <input id="div3" type="text" class="form-control" id="SimType" name="SimType" placeholder="SimType"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">HybridsimSlot:</label>
                  <input id="div3" type="text" class="form-control" id="HybridsimSlot" name="HybridsimSlot" placeholder="HybridsimSlot"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">touchscreen:</label>
                  <input id="div3" type="text" class="form-control" id="touchscreen" name="touchscreen" placeholder="touchscreen"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">OTGCompatible:</label>
                  <input id="div3" type="text" class="form-control" id="OTGCompatible" name="OTGCompatible" placeholder="OTGCompatible"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">QuickCharging:</label>
                  <input id="div3" type="text" class="form-control" id="QuickCharging" name="QuickCharging" placeholder="QuickCharging"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">SoundEnhancements:</label>
                  <input id="div3" type="text" class="form-control" id="SoundEnhancements" name="SoundEnhancements" placeholder="SoundEnhancements"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">DisplayFeatures:</label>
                  <input id="div3" type="text" class="form-control" id="DisplayFeatures" name="DisplayFeatures" placeholder="DisplayFeatures"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">DisplaySize:</label>
                  <input id="div3" type="text" class="form-control" id="DisplaySize" name="DisplaySize" placeholder="DisplaySize"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">ResolutionType:</label>
                  <input id="div3" type="text" class="form-control" id="ResolutionType" name="ResolutionType" placeholder="ResolutionType"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">DisplayType:</label>
                  <input id="div3" type="text" class="form-control" id="DisplayType" name="DisplayType" placeholder="DisplayType"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">OtherDisplayFeatures:</label>
                  <input id="div3" type="text" class="form-control" id="OtherDisplayFeatures" name="OtherDisplayFeatures" placeholder="OtherDisplayFeatures"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">OsProcessorFeature:</label>
                  <input id="div3" type="text" class="form-control" id="OsProcessorFeature" name="OsProcessorFeature" placeholder="OsProcessorFeature"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">OperationSystem:</label>
                  <input id="div3" type="text" class="form-control" id="OperationSystem" name="OperationSystem" placeholder="OperationSystem"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">ProcessorType:</label>
                  <input id="div3" type="text" class="form-control" id="ProcessorType" name="ProcessorType" placeholder="ProcessorType"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">OperationFrequency:</label>
                  <input id="div3" type="text" class="form-control" id="OperationFrequency" name="OperationFrequency" placeholder="OperationFrequency"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">MemoryStorageFeatures:</label>
                  <input id="div3" type="text" class="form-control" id="MemoryStorageFeatures" name="MemoryStorageFeatures" placeholder="MemoryStorageFeatures"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">InternalStorage:</label>
                  <input id="div3" type="text" class="form-control" id="InternalStorage" name="InternalStorage" placeholder="InternalStorage"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">CameraFeatures:</label>
                  <input id="div3" type="text" class="form-control" id="CameraFeatures" name="CameraFeatures" placeholder="CameraFeatures"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">PrimaryCameraAvailable:</label>
                  <input id="div3" type="text" class="form-control" id="PrimaryCameraAvailable" name="PrimaryCameraAvailable" placeholder="PrimaryCameraAvailable"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">PrimaryCamera:</label>
                  <input id="div3" type="text" class="form-control" id="PrimaryCamera" name="PrimaryCamera" placeholder="PrimaryCamera"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">PrimaryCameraFeatures:</label>
                  <input id="div3" type="text" class="form-control" id="PrimaryCameraFeatures" name="PrimaryCameraFeatures" placeholder="PrimaryCameraFeatures"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">SecondaryCameraAvailable:</label>
                  <input id="div3" type="text" class="form-control" id="SecondaryCameraAvailable" name="SecondaryCameraAvailable" placeholder="SecondaryCameraAvailable"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">SecondaryCamera:</label>
                  <input id="div3" type="text" class="form-control" id="SecondaryCamera" name="SecondaryCamera" placeholder="SecondaryCamera"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">SecondaryCameraFeatures:</label>
                  <input id="div3" type="text" class="form-control" id="SecondaryCameraFeatures" name="SecondaryCameraFeatures" placeholder="SecondaryCameraFeatures"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">HDRecording:</label>
                  <input id="div3" type="text" class="form-control" id="HDRecording" name="HDRecording" placeholder="HDRecording"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">FullHDRecording:</label>
                  <input id="div3" type="text" class="form-control" id="FullHDRecording" name="FullHDRecording" placeholder="FullHDRecording"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">VideoRecordingResolution:</label>
                  <input id="div3" type="text" class="form-control" id="VideoRecordingResolution" name="VideoRecordingResolution" placeholder="VideoRecordingResolution"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">DigitalZoom:</label>
                  <input id="div3" type="text" class="form-control" id="DigitalZoom" name="DigitalZoom" placeholder="DigitalZoom"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">FrameRate:</label>
                  <input id="div3" type="text" class="form-control" id="FrameRate" name="FrameRate" placeholder="FrameRate"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">DualCameraLens:</label>
                  <input id="div3" type="text" class="form-control" id="DualCameraLens" name="DualCameraLens" placeholder="DualCameraLens"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">CallFeatures:</label>
                  <input id="div3" type="text" class="form-control" id="CallFeatures" name="CallFeatures" placeholder="CallFeatures"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">SpeakerPhone:</label>
                  <input id="div3" type="text" class="form-control" id="SpeakerPhone" name="SpeakerPhone" placeholder="SpeakerPhone"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">ConnectivityFeatures:</label>
                  <input id="div3" type="text" class="form-control" id="ConnectivityFeatures" name="ConnectivityFeatures" placeholder="ConnectivityFeatures"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">NetworkType:</label>
                  <input id="div3" type="text" class="form-control" id="NetworkType" name="NetworkType" placeholder="NetworkType"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">SupportedNetwork:</label>
                  <input id="div3" type="text" class="form-control" id="SupportedNetwork" name="SupportedNetwork" placeholder="SupportedNetwork"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">InternetConnectivity:</label>
                  <input id="div3" type="text" class="form-control" id="InternetConnectivity" name="InternetConnectivity" placeholder="InternetConnectivity"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">PreinstalledBrowser:</label>
                  <input id="div3" type="text" class="form-control" id="PreinstalledBrowser" name="PreinstalledBrowser" placeholder="PreinstalledBrowser"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">MicroUSBVersion:</label>
                  <input id="div3" type="text" class="form-control" id="MicroUSBVersion" name="MicroUSBVersion" placeholder="MicroUSBVersion"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">BluetoothSupport:</label>
                  <input id="div3" type="text" class="form-control" id="BluetoothSupport" name="BluetoothSupport" placeholder="BluetoothSupport"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">BluetoothVersion:</label>
                  <input id="div3" type="text" class="form-control" id="BluetoothVersion" name="BluetoothVersion" placeholder="BluetoothVersion"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">WifiVersion:</label>
                  <input id="div3" type="text" class="form-control" id="WifiVersion" name="WifiVersion" placeholder="WifiVersion"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">WiFiHotspot:</label>
                  <input id="div3" type="text" class="form-control" id="WiFiHotspot" name="WiFiHotspot" placeholder="WiFiHotspot"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">NFC:</label>
                  <input id="div3" type="text" class="form-control" id="NFC" name="NFC" placeholder="NFC"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">GPSSupport:</label>
                  <input id="div3" type="text" class="form-control" id="GPSSupport" name="GPSSupport" placeholder="GPSSupport"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">OtherDetails:</label>
                  <input id="div3" type="text" class="form-control" id="OtherDetails" name="OtherDetails" placeholder="OtherDetails"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">SmartPhone:</label>
                  <input id="div3" type="text" class="form-control" id="SmartPhone" name="SmartPhone" placeholder="SmartPhone"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">SIMSize:</label>
                  <input id="div3" type="text" class="form-control" id="SIMSize" name="SIMSize" placeholder="SIMSize"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">SMS:</label>
                  <input id="div3" type="text" class="form-control" id="SMS" name="SMS" placeholder="SMS"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">VoiceInput:</label>
                  <input id="div3" type="text" class="form-control" id="VoiceInput" name="VoiceInput" placeholder="VoiceInput"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">GraphicPPI:</label>
                  <input id="div3" type="text" class="form-control" id="GraphicPPI" name="GraphicPPI" placeholder="GraphicPPI"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Sensors:</label>
                  <input id="div3" type="text" class="form-control" id="Sensors" name="Sensors" placeholder="Sensors"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">OtherFeatures:</label>
                  <input id="div3" type="text" class="form-control" id="OtherFeatures" name="OtherFeatures" placeholder="OtherFeatures"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">GPSType:</label>
                  <input id="div3" type="text" class="form-control" id="GPSType" name="GPSType" placeholder="GPSType"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">MultimediaFeatures:</label>
                  <input id="div3" type="text" class="form-control" id="MultimediaFeatures" name="MultimediaFeatures" placeholder="MultimediaFeatures"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">VideoFormats:</label>
                  <input id="div3" type="text" class="form-control" id="VideoFormats" name="VideoFormats" placeholder="VideoFormats"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">BatteryPowerFeatures:</label>
                  <input id="div3" type="text" class="form-control" id="BatteryPowerFeatures" name="BatteryPowerFeatures" placeholder="BatteryPowerFeatures"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">BatteryCapacity:</label>
                  <input id="div3" type="text" class="form-control" id="BatteryCapacity" name="BatteryCapacity" placeholder="BatteryCapacity"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Dimensions:</label>
                  <input id="div3" type="text" class="form-control" id="Dimensions" name="Dimensions" placeholder="Dimensions"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Width:</label>
                  <input id="div3" type="text" class="form-control" id="Width" name="Width" placeholder="Width"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Height:</label>
                  <input id="div3" type="text" class="form-control" id="Height" name="Height" placeholder="Height"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Depth:</label>
                  <input id="div3" type="text" class="form-control" id="Depth" name="Depth" placeholder="Depth"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Weight:</label>
                  <input id="div3" type="text" class="form-control" id="Weight" name="Weight" placeholder="Weight"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Warranty:</label>
                  <input id="div3" type="text" class="form-control" id="Warranty" name="Warranty" placeholder="Warranty"  minlength="1">
                </div>
               </div>
               
              <!--watches-->
              <div id="watch-fields" style="display: none;">
                <div id="div3" class="form-group">
                  <label id="div3" for="password">DialColor:</label>
                   <input id="div3" type="text" class="form-control" id="DialColor" name="DialColor" placeholder="DialColor"  minlength="1">
                   </div>
                   <div id="div3" class="form-group">
                   <label id="div3" for="password">DialShape:</label>
                   <input id="div3" type="text" class="form-control" id="DialShape" name="DialShape" placeholder="DialShape"  minlength="1">
                 </div>
                 <div id="div3" class="form-group">
                   <label id="div3" for="password">StrapMaterial:</label>
                   <input id="div3" type="text" class="form-control" id="StrapMaterial" name="StrapMaterial" placeholder="StrapMaterial"  minlength="1">
                 </div>
                 <div id="div3" class="form-group">
                  <label id="div3" for="password">StrapColor:</label>
                  <input id="div3" type="text" class="form-control" id="StrapColor" name="StrapColor" placeholder="StrapColor"  minlength="1">
                </div>
                 <div id="div3" class="form-group">
                   <label id="div3" for="password">Size:</label>
                   <input id="div3" type="text" class="form-control" id="Size" name="Size" placeholder="Size"  minlength="1">
                 </div>
                 <div id="div3" class="form-group">
                   <label id="div3" for="password">WaterResistant:</label>
                   <input id="div3" type="text" class="form-control" id="WaterResistant" name="WaterResistant" placeholder="WaterResistant"  minlength="1">
                 </div>
                <div id="div3" class="form-group">
                   <label id="div3" for="password">WaterResistanceDepth:</label>
                   <input id="div3" type="text" class="form-control" id="WaterResistanceDepth" name="WaterResistanceDepth" placeholder="WaterResistanceDepth"  minlength="1">
                 </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Usage:</label>
                  <input id="div3" type="text" class="form-control" id="Usage" name="Usage" placeholder="Usage"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">DialMaterial:</label>
                  <input id="div3" type="text" class="form-control" id="DialMaterial" name="DialMaterial" placeholder="DialMaterial"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">IdealFor:</label>
                  <input id="div3" type="text" class="form-control" id="IdealFor" name="IdealFor" placeholder="IdealFor"  minlength="1">
                </div>

                <div id="div3" class="form-group">
                  <label id="div3" for="password">CompatibleOS:</label>
                  <input id="div3" type="text" class="form-control" id="CompatibleOS" name="CompatibleOS" placeholder="CompatibleOS"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Closure:</label>
                  <input id="div3" type="text" class="form-control" id="Closure" name="Closure" placeholder="Closure"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Notification:</label>
                  <input id="div3" type="text" class="form-control" id="Notification" name="Notification" placeholder="Notification"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">NotificationType:</label>
                  <input id="div3" type="text" class="form-control" id="NotificationType" name="NotificationType" placeholder="NotificationType"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Talktime:</label>
                  <input id="div3" type="text" class="form-control" id="Talktime" name="Talktime" placeholder="Talktime"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">BatteryLife:</label>
                  <input id="div3" type="text" class="form-control" id="BatteryLife" name="BatteryLife" placeholder="BatteryLife"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">RechargeableBattery:</label>
                  <input id="div3" type="text" class="form-control" id="RechargeableBattery" name="RechargeableBattery" placeholder="RechargeableBattery"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">ChargerType:</label>
                  <input id="div3" type="text" class="form-control" id="ChargerType" name="ChargerType" placeholder="ChargerType"  minlength="1">
                </div>
                
                <div id="div3" class="form-group">
                  <label id="div3" for="password">StandByTime:</label>
                  <input id="div3" type="text" class="form-control" id="StandByTime" name="StandByTime" placeholder="StandByTime"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">CallFunction:</label>
                  <input id="div3" type="text" class="form-control" id="CallFunction" name="CallFunction" placeholder="CallFunction"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Bluetooth:</label>
                  <input id="div3" type="text" class="form-control" id="Bluetooth" name="Bluetooth" placeholder="Bluetooth"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">touchscreenWatch:</label>
                  <input id="div3" type="text" class="form-control" id="touchscreenWatch" name="touchscreenWatch" placeholder="touchscreenWatch"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">MessagingSupport:</label>
                  <input id="div3" type="text" class="form-control" id="MessagingSupport" name="MessagingSupport" placeholder="MessagingSupport"  minlength="1">
                </div>
                
                
                
                <div id="div3" class="form-group">
                  <label id="div3" for="password">DisplayResolution:</label>
                  <input id="div3" type="text" class="form-control" id="DisplayResolution" name="DisplayResolution" placeholder="DisplayResolution"  minlength="1">
                </div>
                
                <div id="div3" class="form-group">
                  <label id="div3" for="password">BacklightDisplay:</label>
                  <input id="div3" type="text" class="form-control" id="BacklightDisplay" name="BacklightDisplay" placeholder="BacklightDisplay"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">ScratchResistant:</label>
                  <input id="div3" type="text" class="form-control" id="ScratchResistant" name="ScratchResistant" placeholder="ScratchResistant"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">CalorieCount:</label>
                  <input id="div3" type="text" class="form-control" id="CalorieCount" name="CalorieCount" placeholder="CalorieCount"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">StepCount:</label>
                  <input id="div3" type="text" class="form-control" id="StepCount" name="StepCount" placeholder="StepCount"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">HeartRateMonitor:</label>
                  <input id="div3" type="text" class="form-control" id="HeartRateMonitor" name="HeartRateMonitor" placeholder="HeartRateMonitor"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">OtherFitnessFeatures:</label>
                  <input id="div3" type="text" class="form-control" id="OtherFitnessFeatures" name="OtherFitnessFeatures" placeholder="OtherFitnessFeatures"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Calendar:</label>
                  <input id="div3" type="text" class="form-control" id="Calendar" name="Calendar" placeholder="Calendar"  minlength="1">
                </div>
                
                <div id="div3" class="form-group">
                  <label id="div3" for="password">AlarmClock:</label>
                  <input id="div3" type="text" class="form-control" id="AlarmClock" name="AlarmClock" placeholder="AlarmClock"  minlength="1">
                </div>
                
                <div id="div3" class="form-group">
                  <label id="div3" for="password">NumberofButtons:</label>
                  <input id="div3" type="text" class="form-control" id="NumberofButtons" name="NumberofButtons" placeholder="NumberofButtons"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Speaker:</label>
                  <input id="div3" type="text" class="form-control" id="Speaker" name="Speaker" placeholder="Speaker"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Microphone:</label>
                  <input id="div3" type="text" class="form-control" id="Microphone" name="Microphone" placeholder="Microphone"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">VoiceControl:</label>
                  <input id="div3" type="text" class="form-control" id="VoiceControl" name="VoiceControl" placeholder="VoiceControl"  minlength="1">
                </div>
                
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Thickness:</label>
                  <input id="div3" type="text" class="form-control" id="Thickness" name="Thickness" placeholder="Thickness"  minlength="1">
                </div>
                <div id="div3" class="form-group">
                  <label id="div3" for="password">Diameter:</label>
                  <input id="div3" type="text" class="form-control" id="Diameter" name="Diameter" placeholder="Diameter"  minlength="1">
                </div>
           </div>
           <!---earPhone--->
           <div id="earPhone-fields" style="display: none;">
            <div id="div3" class="form-group">
              <label id="div3" for="password">WithMicEP:</label>
               <input id="div3" type="text" class="form-control" id="WithMicEP" name="WithMicEP" placeholder="WithMicEP"  minlength="1">
               </div>
               <div id="div3" class="form-group">
               <label id="div3" for="password">BatteryLifeEP:</label>
               <input id="div3" type="text" class="form-control" id="BatteryLifeEP" name="BatteryLifeEP" placeholder="BatteryLifeEP"  minlength="1">
             </div>
             <div id="div3" class="form-group">
               <label id="div3" for="password">HeadphoneTypeEP:</label>
               <input id="div3" type="text" class="form-control" id="HeadphoneTypeEP" name="HeadphoneTypeEP" placeholder="HeadphoneTypeEP"  minlength="1">
             </div>
             <div id="div3" class="form-group">
              <label id="div3" for="password">SalesPackageEP:</label>
              <input id="div3" type="text" class="form-control" id="SalesPackageEP" name="SalesPackageEP" placeholder="SalesPackageEP"  minlength="1">
            </div>
             <div id="div3" class="form-group">
               <label id="div3" for="password">ConnectivityEP:</label>
               <input id="div3" type="text" class="form-control" id="ConnectivityEP" name="ConnectivityEP" placeholder="ConnectivityEP"  minlength="1">
             </div>
             <div id="div3" class="form-group">
               <label id="div3" for="password">HeadphoneDesignEP:</label>
               <input id="div3" type="text" class="form-control" id="HeadphoneDesignEP" name="HeadphoneDesignEP" placeholder="HeadphoneDesignEP"  minlength="1">
             </div>
            <div id="div3" class="form-group">
               <label id="div3" for="password">AccessoriesIncludedEP:</label>
               <input id="div3" type="text" class="form-control" id="AccessoriesIncludedEP" name="AccessoriesIncludedEP" placeholder="AccessoriesIncludedEP"  minlength="1">
             </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">CompatatibleDevicesEP:</label>
              <input id="div3" type="text" class="form-control" id="CompatatibleDevicesEP" name="CompatatibleDevicesEP" placeholder="CompatatibleDevicesEP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">NetQuantityEP:</label>
              <input id="div3" type="text" class="form-control" id="NetQuantityEP" name="NetQuantityEP" placeholder="NetQuantityEP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">SweatProofEP:</label>
              <input id="div3" type="text" class="form-control" id="SweatProofEP" name="SweatProofEP" placeholder="SweatProofEP"  minlength="1">
            </div>
            
            <div id="div3" class="form-group">
              <label id="div3" for="password">DeepBassEP:</label>
              <input id="div3" type="text" class="form-control" id="DeepBassEP" name="DeepBassEP" placeholder="DeepBassEP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">DesignForEP:</label>
              <input id="div3" type="text" class="form-control" id="DesignForEP" name="DesignForEP" placeholder="DesignForEP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">SystemRequirmentsEP:</label>
              <input id="div3" type="text" class="form-control" id="SystemRequirmentsEP" name="SystemRequirmentsEP" placeholder="SystemRequirmentsEP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">IndicatorEP:</label>
              <input id="div3" type="text" class="form-control" id="IndicatorEP" name="IndicatorEP" placeholder="IndicatorEP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">ControlsEP:</label>
              <input id="div3" type="text" class="form-control" id="ControlsEP" name="ControlsEP" placeholder="ControlsEP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">HeadphoneDriveUnitsEP:</label>
              <input id="div3" type="text" class="form-control" id="HeadphoneDriveUnitsEP" name="HeadphoneDriveUnitsEP" placeholder="HeadphoneDriveUnitsEP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">WithMicrophoneEP:</label>
              <input id="div3" type="text" class="form-control" id="WithMicrophoneEP" name="WithMicrophoneEP" placeholder="WithMicrophoneEP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">WirelessRangeEP:</label>
              <input id="div3" type="text" class="form-control" id="WirelessRangeEP" name="WirelessRangeEP" placeholder="WirelessRangeEP"  minlength="1">
            </div>
            
            <div id="div3" class="form-group">
              <label id="div3" for="password">BluetoothVersionEP:</label>
              <input id="div3" type="text" class="form-control" id="BluetoothVersionEP" name="BluetoothVersionEP" placeholder="BluetoothVersionEP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">BluetoothRangeEP:</label>
              <input id="div3" type="text" class="form-control" id="BluetoothRangeEP" name="BluetoothRangeEP" placeholder="BluetoothRangeEP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">ChargingTimeEP:</label>
              <input id="div3" type="text" class="form-control" id="ChargingTimeEP" name="ChargingTimeEP" placeholder="ChargingTimeEP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">PlayTimeEP:</label>
              <input id="div3" type="text" class="form-control" id="PlayTimeEP" name="PlayTimeEP" placeholder="PlayTimeEP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">StandbytimeEP:</label>
              <input id="div3" type="text" class="form-control" id="StandbytimeEP" name="StandbytimeEP" placeholder="StandbytimeEP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">WidthEP:</label>
              <input id="div3" type="text" class="form-control" id="WidthEP" name="WidthEP" placeholder="WidthEP"  minlength="1">
            </div>
            
            <div id="div3" class="form-group">
              <label id="div3" for="password">HeightEP:</label>
              <input id="div3" type="text" class="form-control" id="HeightEP" name="HeightEP" placeholder="HeightEP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">DepthEP:</label>
              <input id="div3" type="text" class="form-control" id="DepthEP" name="DepthEP" placeholder="DepthEP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">WeightEP:</label>
              <input id="div3" type="text" class="form-control" id="WeightEP" name="WeightEP" placeholder="WeightEP"  minlength="1">
            </div>
           </div>
           <div id="speaker-fields" style="display: none;">
            <div id="div3" class="form-group">
              <label id="div3" for="password">TypeSP:</label>
              <input id="div3" type="text" class="form-control" id="TypeSP" name="TypeSP" placeholder="TypeSP"  minlength="1">
            </div>
            <div id="div3" class="form-group">
                <label id="div3" for="password">BluetoothSP:</label>
                <input id="div3" type="text" class="form-control" id="BluetoothSP" name="BluetoothSP" placeholder="BluetoothSP"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">MemoryCardSlotSP:</label>
                <input id="div3" type="text" class="form-control" id="MemoryCardSlotSP" name="MemoryCardSlotSP" placeholder="MemoryCardSlotSP"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">ConfigurationSP:</label>
                <input id="div3" type="text" class="form-control" id="ConfigurationSP" name="ConfigurationSP" placeholder="ConfigurationSP"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">PowerOutputSP:</label>
                <input id="div3" type="text" class="form-control" id="PowerOutputSP" name="PowerOutputSP" placeholder="PowerOutputSP"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">ColorSP:</label>
                <input id="div3" type="text" class="form-control" id="ColorSP" name="ColorSP" placeholder="ColorSP"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">WiredWirelessSP:</label>
                <input id="div3" type="text" class="form-control" id="WiredWirelessSP" name="WiredWirelessSP" placeholder="WiredWirelessSP"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">HeadphoneJackSP:</label>
                <input id="div3" type="text" class="form-control" id="HeadphoneJackSP" name="HeadphoneJackSP" placeholder="HeadphoneJackSP"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">CompatibleDevicesSP:</label>
                <input id="div3" type="text" class="form-control" id="CompatibleDevicesSP" name="CompatibleDevicesSP" placeholder="CompatibleDevicesSP"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">BatterySP:</label>
                <input id="div3" type="text" class="form-control" id="BatterySP" name="BatterySP" placeholder="BatterySP"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">USBPortsSP:</label>
                <input id="div3" type="text" class="form-control" id="USBPortsSP" name="USBPortsSP" placeholder="USBPortsSP"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">BluetoothVersionSP:</label>
                <input id="div3" type="text" class="form-control" id="BluetoothVersionSP" name="BluetoothVersionSP" placeholder="BluetoothVersionSP"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">BatteryLifeSP:</label>
                <input id="div3" type="text" class="form-control" id="BatteryLifeSP" name="BatteryLifeSP" placeholder="BatteryLifeSP"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">WirelessRangeSP:</label>
                <input id="div3" type="text" class="form-control" id="WirelessRangeSP" name="WirelessRangeSP" placeholder="WirelessRangeSP"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">WidthSP:</label>
                <input id="div3" type="text" class="form-control" id="WidthSP" name="WidthSP" placeholder="WidthSP"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">HeightSP:</label>
                <input id="div3" type="text" class="form-control" id="HeightSP" name="HeightSP" placeholder="HeightSP"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">DepthSP:</label>
                <input id="div3" type="text" class="form-control" id="DepthSP" name="DepthSP" placeholder="DepthSP"  minlength="1">
              </div>
           </div>
           <div id="powerbank-fields" style="display: none;">
            <div id="div3" class="form-group">
              <label id="div3" for="password">PowerSourcePB:</label>
              <input id="div3" type="text" class="form-control" id="PowerSourcePB" name="PowerSourcePB" placeholder="PowerSourcePB"  minlength="1">
            </div>
            <div id="div3" class="form-group">
                <label id="div3" for="password">CapacityPB:</label>
                <input id="div3" type="text" class="form-control" id="CapacityPB" name="CapacityPB" placeholder="CapacityPB"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">NumberofOutputPortsPB:</label>
                <input id="div3" type="text" class="form-control" id="NumberofOutputPortsPB" name="NumberofOutputPortsPB" placeholder="NumberofOutputPortsPB"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">ChargingCableIncludedPB:</label>
                <input id="div3" type="text" class="form-control" id="ChargingCableIncludedPB" name="ChargingCableIncludedPB" placeholder="ChargingCableIncludedPB"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">PowerSupplyPB:</label>
                <input id="div3" type="text" class="form-control" id="PowerSupplyPB" name="PowerSupplyPB" placeholder="PowerSupplyPB"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">OutputPowerPB:</label>
                <input id="div3" type="text" class="form-control" id="OutputPowerPB" name="OutputPowerPB" placeholder="OutputPowerPB"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">OtherFeaturesPB:</label>
                <input id="div3" type="text" class="form-control" id="OtherFeaturesPB" name="OtherFeaturesPB" placeholder="OtherFeaturesPB"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">widthPB:</label>
                <input id="div3" type="text" class="form-control" id="widthPB" name="widthPB" placeholder="widthPB"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">DepthPB:</label>
                <input id="div3" type="text" class="form-control" id="DepthPB" name="DepthPB" placeholder="DepthPB"  minlength="1">
              </div>
              <div id="div3" class="form-group">
                <label id="div3" for="password">WeightPB:</label>
                <input id="div3" type="text" class="form-control" id="WeightPB" name="WeightPB" placeholder="WeightPB"  minlength="1">
              </div>
           </div>
           <div id="charger-fields" style="display: none;">
            <div id="div3" class="form-group">
              <label id="div3" for="password">OutputInterfaceC:</label>
               <input id="div3" type="text" class="form-control" id="OutputInterfaceC" name="OutputInterfaceC" placeholder="OutputInterfaceC"  minlength="1">
               </div>
               <div id="div3" class="form-group">
               <label id="div3" for="password">LEDIndicatorC:</label>
               <input id="div3" type="text" class="form-control" id="LEDIndicatorC" name="LEDIndicatorC" placeholder="LEDIndicatorC"  minlength="1">
             </div>
             <div id="div3" class="form-group">
               <label id="div3" for="password">DisplayC:</label>
               <input id="div3" type="text" class="form-control" id="DisplayC" name="DisplayC" placeholder="DisplayC"  minlength="1">
             </div>
             <div id="div3" class="form-group">
              <label id="div3" for="password">ConnectorTypeC:</label>
              <input id="div3" type="text" class="form-control" id="ConnectorTypeC" name="ConnectorTypeC" placeholder="ConnectorTypeC"  minlength="1">
            </div>
             <div id="div3" class="form-group">
               <label id="div3" for="password">NumberOfDeviceBatteriesChangedC:</label>
               <input id="div3" type="text" class="form-control" id="NumberOfDeviceBatteriesChangedC" name="NumberOfDeviceBatteriesChangedC" placeholder="NumberOfDeviceBatteriesChangedC"  minlength="1">
             </div>
             <div id="div3" class="form-group">
               <label id="div3" for="password">DesignedForC:</label>
               <input id="div3" type="text" class="form-control" id="DesignedForC" name="DesignedForC" placeholder="DesignedForC"  minlength="1">
             </div>
            <div id="div3" class="form-group">
               <label id="div3" for="password">NumberOfChargerPinsC:</label>
               <input id="div3" type="text" class="form-control" id="NumberOfChargerPinsC" name="NumberOfChargerPinsC" placeholder="NumberOfChargerPinsC"  minlength="1">
             </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">WidthxHeightxDepthC:</label>
              <input id="div3" type="text" class="form-control" id="WidthxHeightxDepthC" name="WidthxHeightxDepthC" placeholder="WidthxHeightxDepthC"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">WeightC:</label>
              <input id="div3" type="text" class="form-control" id="WeightC" name="WeightC" placeholder="WeightC"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">OtherFeaturesC:</label>
              <input id="div3" type="text" class="form-control" id="OtherFeaturesC" name="OtherFeaturesC" placeholder="OtherFeaturesC"  minlength="1">
            </div>
            
            <div id="div3" class="form-group">
              <label id="div3" for="password">CableTypeC:</label>
              <input id="div3" type="text" class="form-control" id="CableTypeC" name="CableTypeC" placeholder="CableTypeC"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">PowerInputC:</label>
              <input id="div3" type="text" class="form-control" id="PowerInputC" name="PowerInputC" placeholder="PowerInputC"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">PowerSourceC:</label>
              <input id="div3" type="text" class="form-control" id="PowerSourceC" name="PowerSourceC" placeholder="PowerSourceC"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">OutputCurrentC:</label>
              <input id="div3" type="text" class="form-control" id="OutputCurrentC" name="OutputCurrentC" placeholder="OutputCurrentC"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">SecondarySlotOutputC:</label>
              <input id="div3" type="text" class="form-control" id="SecondarySlotOutputC" name="SecondarySlotOutputC" placeholder="SecondarySlotOutputC"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">OutputWattageC:</label>
              <input id="div3" type="text" class="form-control" id="OutputWattageC" name="OutputWattageC" placeholder="OutputWattageC"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">OtherPowerFeaturesC:</label>
              <input id="div3" type="text" class="form-control" id="OtherPowerFeaturesC" name="OtherPowerFeaturesC" placeholder="OtherPowerFeaturesC"  minlength="1">
            </div>
           </div>
           <div id="storagedevice-fields" style="display: none;">
            <div id="div3" class="form-group">
              <label id="div3" for="password">ModelNumberSD:</label>
               <input id="div3" type="text" class="form-control" id="ModelNumberSD" name="ModelNumberSD" placeholder="ModelNumberSD"  minlength="1">
               </div>
               <div id="div3" class="form-group">
               <label id="div3" for="password">WeightSD:</label>
               <input id="div3" type="text" class="form-control" id="WeightSD" name="WeightSD" placeholder="WeightSD"  minlength="1">
             </div>
             <div id="div3" class="form-group">
               <label id="div3" for="password">MemoryStorageCapacitySD:</label>
               <input id="div3" type="text" class="form-control" id="MemoryStorageCapacitySD" name="MemoryStorageCapacitySD" placeholder="MemoryStorageCapacitySD"  minlength="1">
             </div>
             <div id="div3" class="form-group">
              <label id="div3" for="password">FlashMemoryTypeSD:</label>
              <input id="div3" type="text" class="form-control" id="FlashMemoryTypeSD" name="FlashMemoryTypeSD" placeholder="FlashMemoryTypeSD"  minlength="1">
            </div>
             <div id="div3" class="form-group">
               <label id="div3" for="password">DigitalStorageCapacitySD:</label>
               <input id="div3" type="text" class="form-control" id="DigitalStorageCapacitySD" name="DigitalStorageCapacitySD" placeholder="DigitalStorageCapacitySD"  minlength="1">
             </div>
             <div id="div3" class="form-group">
               <label id="div3" for="password">HardWareInterfaceSD:</label>
               <input id="div3" type="text" class="form-control" id="HardWareInterfaceSD" name="HardWareInterfaceSD" placeholder="HardWareInterfaceSD"  minlength="1">
             </div>
            <div id="div3" class="form-group">
               <label id="div3" for="password">CampatibleDevicesSD:</label>
               <input id="div3" type="text" class="form-control" id="CampatibleDevicesSD" name="CampatibleDevicesSD" placeholder="CampatibleDevicesSD"  minlength="1">
             </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">SpecialFeatureSD:</label>
              <input id="div3" type="text" class="form-control" id="SpecialFeatureSD" name="SpecialFeatureSD" placeholder="SpecialFeatureSD"  minlength="1">
            </div>
            <div id="div3" class="form-group">
              <label id="div3" for="password">ItemWeightSD:</label>
              <input id="div3" type="text" class="form-control" id="ItemWeightSD" name="ItemWeightSD" placeholder="ItemWeightSD"  minlength="1">
            </div>
           </div>
         
            <button type="submit" class="btn btn-primary" id="log" action="#">add product</button>
        </form>
      </div>
    
    
    <script>
      document.getElementById('category').addEventListener('change', function() {
          var watchFields = document.getElementById('watch-fields');
          var mobileFields = document.getElementById('mobile-fields');
          var earPhoneFields = document.getElementById('earPhone-fields');
          var speakerFields = document.getElementById('speaker-fields');
          var powerbankFields = document.getElementById('powerbank-fields');
          var chargerFields  = document.getElementById('charger-fields');
          var storagedeviceFields = document.getElementById('storagedevice-fields')
          
          if (this.value === 'mobile') {
              watchFields.style.display = 'none';
              mobileFields.style.display = 'block';
              earPhoneFields.style.display = 'none';
              speakerFields.style.display = 'none';
              powerbankFields.style.display = 'none';
              chargerFields.style.display = 'none';
              storagedeviceFields.style.display = 'none';
          } else if (this.value === 'watch') {
              watchFields.style.display = 'block';
              mobileFields.style.display = 'none';
              earPhoneFields.style.display = 'none';
              speakerFields.style.display = 'none';
              powerbankFields.style.display = 'none';
              chargerFields.style.display = 'none';
              storagedeviceFields.style.display = 'none';
          } else if (this.value === 'earPhone') {
              watchFields.style.display = 'none';
              mobileFields.style.display = 'none';
              earPhoneFields.style.display = 'block';
              speakerFields.style.display = 'none';
              powerbankFields.style.display = 'none';
              chargerFields.style.display = 'none';
              storagedeviceFields.style.display = 'none';
          }else if (this.value === 'speaker') {
              watchFields.style.display = 'none';
              mobileFields.style.display = 'none';
              earPhoneFields.style.display = 'none';
              speakerFields.style.display = 'block';
              powerbankFields.style.display = 'none';
              chargerFields.style.display = 'none';
              storagedeviceFields.style.display = 'none';
          } else if (this.value === 'powerbank') {
              watchFields.style.display = 'none';
              mobileFields.style.display = 'none';
              earPhoneFields.style.display = 'none';
              speakerFields.style.display = 'none';
              powerbankFields.style.display = 'block';
              chargerFields.style.display = 'none';
              storagedeviceFields.style.display = 'none';
          }else if (this.value === 'charger') {
              watchFields.style.display = 'none';
              mobileFields.style.display = 'none';
              earPhoneFields.style.display = 'none';
              speakerFields.style.display = 'none';
              powerbankFields.style.display = 'none';
              chargerFields.style.display = 'block';
              storagedeviceFields.style.display = 'none';
          }else if (this.value === 'storagedevice') {
              watchFields.style.display = 'none';
              mobileFields.style.display = 'none';
              earPhoneFields.style.display = 'none';
              speakerFields.style.display = 'none';
              powerbankFields.style.display = 'none';
              chargerFields.style.display = 'none';
              storagedeviceFields.style.display = 'block';
          }  else {
              watchFields.style.display = 'none';
              mobileFields.style.display = 'none';
              earPhoneFields.style.display = 'none';
              speakerFields.style.display = 'none';
              powerbankFields.style.display = 'none';
              chargerFields.style.display = 'none';
              storagedeviceFields.style.display = 'none';
          }
      });
  </script>
  
</body>
</html>